body {
    background-color: rgb(144, 238, 207);
}
h2 {
    text-align: center;
    color: rgb(175, 175, 11);
}
.heading{
    color: rgb(175, 175, 11); 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline-color: black;
}
.logsign {
    background-color: rgb(105, 92, 92);
    color: #fa6969;
    padding: 16px 32px;
}
.table {
    padding: 16px 32px;
    width: 100%;
    height: 100%;
}
.button{
    background-color: rgb(223, 206, 206);
    color: rgb(187, 41, 41);
    padding: 16px 32px;
    border-radius: 12px;
    border: 2px solid black;
}
.iframe{
    margin-left: 400px;
    margin-right: 400px;
}
.img{
    margin-left: 590px;
}